<!DOCTYPE html>
{% extends 'Appinmob/base.html'%}

{% load static %}

{% block contenido_que_cambia %}
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5"> Bienvenidos a Alquileres Punta del Diablo </h1>
                            {% if request.user.is_authenticated %}
                            <a class="btn btn-primary" href="{% url 'perfil'%}" >MI PERFIL</a>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}
{%block adicionindex%}
<!-- Call to Action-->
<section class="call-to-action text-white text-center" id="signup">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h4 class="mb-4">¿Queres formar parte del equipo? 
                    <br> Dejanos tu mail, nos pondremos en contacto!
                </h4>
                <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
                    <!-- Email address input-->
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Correo electronico" data-sb-validations="required,email" />
                            <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Correo electronico</div>
                            <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Ingrese un correo electronico valido.</div>
                        </div>
                        <div class="col-auto"><button class="btn btn-primary" type="submit">Enviar</button></div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Tu correo ha sido enviado exitosamente!</div>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error al enviar el correo!</div></div>
                </form>
            </div>
        </div>
    </div>
</section>
{%endblock adicionindex%}
