<!DOCTYPE html>


{% extends 'Appinmob/base.html'%}

{% load static %}

{%block contenido_que_cambia%}
<header>
{%block title%} "INQUILINOS CARGADOS AL SISTEMA" {%endblock title%}
<div class="card-group">
    {% for inquilino in inquilinos %}
        <div class="card-group">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">{{inquilino.nombre}} {{inquilino.apellido}}</h4>
                <p class="card-text">{{inquilino.telefono}}</p>
                <p class="card-text">{{inquilino.correo}}</p>
                <a href="{% url 'editar_inquilino' inquilino.id%}">editar</a>
                <a href="{% url 'eliminar_inquilino' inquilino.id%}">eliminar</a>
                
            </div>
            </div>
        </div>
    {% endfor %}
    </div>

</header>

<a class="btn btn-outline-primary btn-sm" href="{% url 'agregar_inquilinos' %}">CARGAR INQUILINO NUEVO</a>
{%endblock contenido_que_cambia%}