<!DOCTYPE html>


{% extends 'Appinmob/base.html'%}

{% load static %}

{% block contenido_que_cambia %}


        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5"> NUESTRAS PROPIEDADES </h1>
                            
                            <form >

                              <div class="card" style="width: 25rem;">
                                <img src="{{propiedad.imagen}}" class="bd-placeholder-img card-img-top" width="100%" height="180" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <div class="card-body text-black">
                                  <h5 class="card-title">{{propiedad.inmueble}} en {{propiedad.ubicacion}}</h5>
                                  <p class="card-text">{{propiedad.contrato}}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">metros cuadrados: {{propiedad.m2}}</li>
                                  <li class="list-group-item">{{propiedad.propietario}}</li>
                                  <li class="list-group-item">{{propiedad.condicion}}</li>
                                </ul>
                                <div class="card-body">
                                  <a href="{% url 'propiedades' %}" class="card-link">volver a vista general</a>
                                </div>
                              </div>
                     </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}

