<!DOCTYPE html>


{% extends 'Appinmob/base.html'%}

{% load static %}

{% block contenido_que_cambia %}

        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content">
                    <div class="col-xl-6">
                        <div class=" text-white">
                            <h4 class="mb-8"> PROPIETARIOS EN EL SISTEMA  </h4>
                            <form>
                                <h2>Lista de propietarios</h2>
                                <div class="card-group">
                                  {% for propietario in propietarios %}
                                    <div class="card my-card text-white bg-primary mb-3">
                                      <div class="card-header">{{propietario.nombre}} {{propietario.apellido}}</div>
                                      <div class="card-body">
                                        <h5 class="card-title">Información de contacto</h5>
                                        <p class="card-text"> telefono: {{propietario.telefono}}</p>
                                        <p class="card-text">correo :{{propietario.correo}}</p>
                                        <p class="card-text"> codigo de propiedad: {{propietario.CodigoDePropiedad}}</p>
                                        <a class="btn btn" href="{% url 'editar_propietario' propietario.id %}"> editar</a>
                                        <a class="btn btn" href="{% url 'eliminar_propietario' propietario.id %}"> eliminar</a>
                                      </div>
                                    </div>
                                </div>
                             
                                  {% endfor %}
                            
                                 
                              </form>
                             
                              
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'agregar_propietario' %}">cargar propietario nuevo</a>
{% endblock %}

