<!DOCTYPE html>


{% extends 'Appinmob/base.html'%}

{% load static %}

{% block contenido_que_cambia %}


        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5"> NUESTRAS PROPIEDADES </h1>
                            <form >
                             {% for propiedad in propiedades %}
                             <div class="card text-black">
                                <div class="card-body">
                                  propiedad: {{propiedad.id}}.<a href="{% url 'leermas' propiedad.id %}"> Ver mas informacion</a>
                                </div>
                              </div>
                            {% endfor %}

                            <a class="btn btn-primary btn-lg btn-block" href="{%url 'agregar_propiedad'%}">cargar propiedad nueva</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}
