<!DOCTYPE html>
{% extends "Appinmob/base.html" %}
{%load static%}
{%block contenido_que_cambia%}
<div class="card" style="width: 20rem;">
  <img class="bd-placeholder-img card-img-top" width="100%" height="180" src="\media\propiedades\OIP.jpeg">
    <div class="card-body">
      <h5 class="card-title"> ¿Quienes somos?</h5>
      <p class="card-text">Nuestro equipo esta conformado por familia, profesionales y buenas energias.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Emprendedores. Proactivos. Detallistas </li>
      <li class="list-group-item">Desde 2007</li>
      <li class="list-group-item">Argentina</li>
    </ul>
    <div class="card-body">

    </div>
  </div>

{%endblock contenido_que_cambia%}